.page {
  min-width: 1100px; /* мы ещё не умеем делать мобильную версию сайта, */
  max-width: 1600px; /*установили ограничение по максимальной ширине */
  margin: 0 auto; /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px; /*установили ограничения для секции */
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}
.logo {
  position: absolute;
  left: 64px;
  top: 30px;
}

.logo__place_header {
  width: 183px;
  height: 32px;
}

.header__title {
  width: 736px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bolder;
  margin-left: 64px;
  z-index: 2; /*при ширине окна меньше 1220 картинка перекрывает текст поэтому используем это св-во*/
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  margin-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 756px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 30px;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.span-accent {
  font-weight: bolder;
}

.digits {
  position: relative;
  display: flex;
  flex-direction: column;
}

.section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
  width: 60%;
  margin: 100px auto 20px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.table {
  margin: 0 auto 100px;
  list-style: none;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-left: 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}